/* Border around the body of the app. this is where the data is shown */
#def {   
    background:#D1D1D1;
    margin-top: 10px;
    height:80%;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;

}

/* The part of speach is italic -R */
.type {
    font-style:italic;
}

/* The defintions of the entered word */
.def {   
    /* padding for the definition from the border -R */
    padding:5px;
    /* distinguishing the font */
    font-weight:650;
    font-size:14px;
}

.top {
    background:#D1D1D1;
    padding-top: 15px;
    width:100%;
    height:38px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
}

/* field to enter word -R*/
#fld {    
    background: #ffffff;
    border: none;
    outline: none;
    padding: 5px;
    width: 90%;
    height:35px;
    border-radius: 3px; /* Rounded corners */
}

.loading {
    display: none;
}


body {
    /* background of app -R*/
    background-color: #e6e6e6;
}