#def {   
    /* Border around the definition -R */
    border:2px solid #f7f6f4;
    /* padding for the definition from the border -R */
    padding:5px;
    
    /* Want to make just the definition part of the window scrollable -R */
    /*overflow-y:scroll;*/
}

/* The part of speach is italic -R */
.type {
    font-style:italic;
}

.def {   
    /* Border around the definition -R */
    border:2px solid #f7f6f4;
    /* padding for the definition from the border -R */
    padding:5px;
}

html {
    /*overflow-y:scroll;*/
}

.top {
    /* no idea what these are doing... made long time ago - R */
    display: inline-block;
    border-top: 15px;
    padding-top: 15px;
}

body {
    /* background of app -R*/
    background-color: #e6e6e6;
}


#fld {
    /* field to enter word -R*/
    display: block;  
    width: 270px; 
    height: 30px; 
    margin-bottom: 5px; 
    padding: 0px; 
    float: left;
}

.loading {
    display: none;
}

